@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Playwrite+CL:wght@100..400&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body and Typography */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Section styles */
section#forget {
  max-width: 600px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form styles */
form#signupForm {
  display: flex;
  flex-direction: column;
}

form#signupForm label {
  margin-bottom: 5px;
  color: #333;
}

form#signupForm input[type="text"],
form#signupForm input[type="email"],
form#signupForm input[type="password"],
form#signupForm input[type="date"] {
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 1em;
}

form#signupForm input[type="checkbox"] {
  margin-right: 5px;
}

form#signupForm h5 {
  margin-top: 10px;
  margin-bottom: 5px;
  color: #333;
}

form#signupForm button[type="submit"] {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

form#signupForm button[type="submit"]:hover {
  background-color: #0056b3;
}
